html,
body {
  height: 100%;
}
/**/
body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-faq-flutuante {
    position: fixed;
    bottom: 20px;       /* Distância do fundo */
    right: 20px;        /* Distância da direita */
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Faz ficar redondo */
    background-color: #0d6efd; /* Azul do Bootstrap */
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3); /* Sombra para dar profundidade */
    z-index: 1000;      /* Garante que fica na frente de tudo */
    transition: 0.3s;   /* Animação suave no hover */
}

.btn-faq-flutuante:hover {
    background-color: #0b5ed7;
    transform: scale(1.1); /* Aumenta um pouco ao passar o mouse */
}